body {
    margin: 0;
    font-family: Nunito,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #858796;
    text-align: left;
    background-color: #fff;
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

    /* .container {
        display: none!important;
       } */

    .container {
        width: 100%!important;
        margin: 100px auto; 
    }

    .progressbar li {

        font-size: 10px;
    
    }

       /* .navbar-nav {
       display: none!important;
    } */

    .sidebar {
        font-size: 12px!important;
    }

    .nav {
        padding-left:2px;
        padding-right:2px;
    }
    .nav li {
        display:block !important;
        width:100%;
        margin:0px;
    }
    .nav li.active {
        border-bottom:1px solid #ddd!important;
        margin: 0px;
    }

    .nav-fill .nav-item {
        font-size:8px!important;
    }

}


/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {



    /* .navbar {
        display: none!important;
     } */

     

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 

    /* .navbar {
        display: none!important;
     } */
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

    /* .navbar {
        display: none!important;
     } */

 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
/* 
    .navbar {
        display: none!important;
     } */
}

#wrapper {
    display: flex;
}

@media (min-width: 768px) {
.sidebar {
    width: 18rem!important;
}


}

@media (min-width: 768px) {
.sidebar .nav-item .nav-link i {
    font-size: .85rem;
    margin-right: .25rem;
}
}

.fa-fw {
    text-align: center;
    width: 1.25em;
}

.sidebar {
    width: 8rem;
    min-height: 100vh;
}

.sidebar-dark .sidebar-brand {
    color: #fff;
}

.sidebar .sidebar-brand {
    height: 4.375rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    /* padding: 1.5rem 1rem; */
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .05rem;
    z-index: 1;
}

.sidebar-brand-logo {
    width: 50%;
    display: block;
   
}

.navbar {
    background-color: #103C6E!important;
    height: 4.375rem;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
    
}

.logo-full {
    height: 2rem;
    margin-left: -10px;
}

.side-bar-logo  {
    max-width: 100%;
    max-height: 100%;
    margin-top: 20px;


}

.sidebar .sidebar-heading {
    text-align: center;
    padding: 0 1rem;
    font-weight: 800;
    font-size: .65rem;

}

.align-items-center {
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}

.justify-content-center {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

.bg-gradient-primary {
    background-color: #103C6E;
    background-size: cover;
}

.navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.sidebar .nav-item {
    position: relative;
    margin-top: 10px;
}

#active a {
    background-color: white;
    color: #103C6E;
    border-right: .25em solid rgb(255, 123, 0)!important;


}

.sidebar-dark .nav-item .nav-link {
    color: white;
}

.sidebar .nav-item .nav-link {
    text-align: left;
    padding: 1rem 1rem;
    /* width: 6.5rem; */
}
.sidebar .nav-item .nav-link, .topbar .nav-item .nav-link {
    position: relative;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

@media (min-width: 768px) {
.sidebar .nav-item .nav-link {
    display: block;
    width: 100%;
    text-align: left;
    padding: 1rem;
    }
}


/* progress bar 1 */

.container {
    width: 95%;
    margin: 50px auto; 
}
.progressbar {
    counter-reset: step;
}
.progressbar li {
    list-style-type: none;
    width: 23%;
    float: left;
    position: relative;
    text-align: center;
    text-transform: uppercase;
  


}
.progressbar li:before {
    width: 40px;
    height: 40px;
    content: counter(step);
    counter-increment: step;
    line-height: 30px;
    border: 7px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: #7d7d7d;
    color: white;
}
.progressbar li:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: #7d7d7d;
    top: 15px;
    left: -50%;
    z-index: -1;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active {
    color: #103C6E;
}
.progressbar li.active:before {
    border-color: #103C6E;
    background-color: #103C6E;
}
.progressbar li.active + li:after {
    background-color: #103C6E;
}
/* progress bar 1 */

/* Main Content */

#wrapper #content-wrapper {
    /* background-color: #f8f9fc; */
    width: 100%;
    overflow-x: hidden;
}

#wrapper #content-wrapper #content {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}
.container, .container-fluid {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.container-fluid {
    width: 100%;
    padding-right: .5rem;
    padding-left: .5rem;
    margin-right: auto;
    margin-left: auto;
}

.formControl {
    padding-right: .5rem;
    padding-left: .5rem;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    padding-top: 150px;
    padding-bottom:150px;
}

.centerTab {
    text-align: center;
        
}

.tabControl {
    padding-right: .5rem;
    padding-left: .5rem;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    padding-bottom:150px;
}

.textbox {
    padding-top: 25px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right:50px;
    text-align: center;   
}

.textbox h1 {
    font-size: 3vh;
}

.textbox p {
    font-size: 2vh;
}


#prevBtn {
    float: left;
    padding-bottom: .75rem;
    border-radius: 20px;
}

#nextBtn {
    float: right;
    padding-bottom: .75rem;
}

.navbuttons {
    align-items: center;
    width: 100%;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}

.align-items-center {
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}

.justify-content-between {
    -webkit-box-pack: justify!important;
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 50px;
}

/* .btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
} */

.btn-secondary {
  color:#fff!important;
  background-color: #005DA8!important;
  width: 100%;
  box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
  border-color: #005DA8!important;
}

.btn-primary {
    color:#fff!important;
    background-color: #005DA8!important;
    width: 100%;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
    border-color: #005DA8!important;
}

.btn-complete {
   
    background-color: #85bf31!important;
    width: 100%;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
    border-color: #85bf31!important;
}



.btn {
    display: inline-block;
    color: #ffffff!important;
	font-weight: bold!important;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .35rem!important;
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;

}

.serviceChoice {
    border-top: .25em solid #005DA8!important;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 50px;
    background-color: #fff;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
}

.service-Header {
    color: #005DA8!important;
    padding-bottom: 5px;
}

.box {
    display: none;
}


.scrollspy-example {
    position: relative;
    height: 250px;
    overflow: auto;
    padding-bottom: 20px;
  }
  .scrolly {
      padding-top: 20px;
      padding-bottom: 50px;
  }

  .nextbut {
     padding-bottom: 20px;
  }

/* Footer  */

footer.sticky-footer {
    padding: 2rem 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }
  
  footer.sticky-footer .copyright {
    line-height: 1;
    font-size: 0.8rem;
  }
  
  body.sidebar-toggled footer.sticky-footer {
    width: 100%;
  }

/* Check Mark */

svg {
    width: 100px;
    display: block;
    margin: 40px auto 0;
  }
  
  .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    &.circle {
      -webkit-animation: dash .9s ease-in-out;
      animation: dash .9s ease-in-out;
    }
    &.line {
      stroke-dashoffset: 1000;
      -webkit-animation: dash .9s .35s ease-in-out forwards;
      animation: dash .9s .35s ease-in-out forwards;
    }
    &.check {
      stroke-dashoffset: -100;
      -webkit-animation: dash-check .9s .35s ease-in-out forwards;
      animation: dash-check .9s .35s ease-in-out forwards;
    }
  }
           
  p {
    text-align: center;
    margin: 20px 0 60px;
    font-size: 1.25em;
    &.success {
      color: #73AF55;
    }
    &.error {
      color: #D06079;
    }
  }
  
  
  @-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @-webkit-keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
  
  @keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }


/* tab color */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #005DA8!important;
    border: 1px solid #fff;

  
}

.nav-pills>li>a:hover {
    border-color: #ffffff;
    background-color: #d1d1d1;
  }

/* tab shape */

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    border:0;
    background-color:#fff;
    }
    .nav-pills > li > a {
        padding: .5rem 1rem;
    }
     .nav-pills > li.active {
     border-bottom:3px solid #005DA8!important;
     }
   
   
   .breadcrumb {
           background: #ddd;
           background-color: #e9ecef!important;
           display: inline-block!important;
           padding: 1px!important;
 
   
       }
   
       .breadcrumb li {
           display: inline-block;
           background: white;
           padding: 0;
           position: relative;
           min-width:50px;
           text-decoration: none;
           -webkit-clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%, 15px 50%);
           clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%, 15px 50%);
           margin-right: -13px;
       }
   
       .breadcrumb li#last {
           -webkit-clip-path: polygon(0 0, calc(100% - 0px) 0, 100% 50%, calc(100% - 0px) 100%, 0 100%, 15px 50%);
           clip-path: polygon(0 0, calc(100% - 0px) 0, 100% 50%, calc(100% - 0px) 100%, 0 100%, 15px 50%);
       }
   
       .breadcrumb li:hover {
           color: white;
           background: #fff;
       }
   
       /* first link should not have anything cliped on the left side */
       .breadcrumb li:first-child {
           -webkit-clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%);
           clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%);
       }

            /* first link should not have anything cliped on the left side */
            .breadcrumb li:last-child {
                -webkit-clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%, 15px 50%);
                clip-path: polygon(0 0, calc(100% - 0px) 0, 100% 50%, calc(100% - 0px) 100%, 0 100%, 15px 50%);
            }
   
       .label{
           height: 100%;
           width: 100%;
       }

       .nav-fill .nav-item {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        text-align: center;
        width: 25%;
        font-size: 1.3vh;
    }


    /* Table  */

    .card-header {
        padding: 1.25rem 1.5rem;
        margin-bottom: 0;
        background-color: #f6f9fc;
        /* border-bottom: 0.0625rem solid rgba(34, 42, 66, 0.05); */
      }
      
      .card-header:first-child {
        border-radius: calc(0.2857rem - 0.0625rem) calc(0.2857rem - 0.0625rem) 0 0;
      }
      
      .card-header+.list-group .list-group-item:first-child {
        border-top: 0;
      }
      .card-header-tabs {
        margin-right: -0.75rem;
        margin-bottom: -1.25rem;
        margin-left: -0.75rem;
        border-bottom: 0;
      }
      
      .card-header-pills {
        margin-right: -0.75rem;
        margin-left: -0.75rem;
      }
      
      @media (min-width: 576px) {
        .card-group {
          flex-flow: row wrap;
        }
        .card-group>.card {
          flex: 1 0 0%;
          margin-bottom: 0;
        }
        .card-group>.card+.card {
          margin-left: 0;
          border-left: 0;
        }
        .card-group>.card:first-child {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        .card-group>.card:first-child .card-img-top,
        .card-group>.card:first-child .card-header {
          border-top-right-radius: 0;
        }
        .card-group>.card:first-child .card-img-bottom,
        .card-group>.card:first-child .card-footer {
          border-bottom-right-radius: 0;
        }
        .card-group>.card:last-child {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
        .card-group>.card:last-child .card-img-top,
        .card-group>.card:last-child .card-header {
          border-top-left-radius: 0;
        }
        .card-group>.card:last-child .card-img-bottom,
        .card-group>.card:last-child .card-footer {
          border-bottom-left-radius: 0;
        }
        .card-group>.card:only-child {
          border-radius: 0.2857rem;
        }
        .card-group>.card:only-child .card-img-top,
        .card-group>.card:only-child .card-header {
          border-top-left-radius: 0.2857rem;
          border-top-right-radius: 0.2857rem;
        }
        .card-group>.card:only-child .card-img-bottom,
        .card-group>.card:only-child .card-footer {
          border-bottom-right-radius: 0.2857rem;
          border-bottom-left-radius: 0.2857rem;
        }
        .card-group>.card:not(:first-child):not(:last-child):not(:only-child) {
          border-radius: 0;
        }
        .card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-img-top,
        .card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-img-bottom,
        .card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-header,
        .card-group>.card:not(:first-child):not(:last-child):not(:only-child) .card-footer {
          border-radius: 0;
        }
      }
      
      .accordion .card:not(:first-of-type) .card-header:first-child {
        border-radius: 0;
      }
      
      
      .card .card-header {
        padding: 15px 15px 0;
        border: 0;
        color: #005DA8!important;
      }
      
      .card .card-header:not([data-background-color]) {
        background-color: transparent;
      }
      
      .card .card-header .card-title {
        color: #005DA8!important;
        font-weight: bold;
      }
      
      .card .card-header .card-category {
        color: #005DA8;
        margin-bottom: 5px;
        font-weight: bold;
      }

      .table td, .table th {
         border-top: none!important;
      }

      .tableheader {
          color: rgb(63, 63, 63)!important;
      }
      